In [ ]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd
print(pd.Series([4, 8, 15, 16, 23, 42]))

#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
#variable print it.
Ser = pd.Series(list(range(10)))
print(Ser)

#Q3.

df = pd.DataFrame(
    {
                'Name':['Alice','Bob','Claire'],
                'Age': [25,30,27],
                'Gender':['Female','Male','Female']
    }
                )
print(df)
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
#A DataFrame is a 2-dimensional structure used for working with tabular data, #
 #while a Series is a 1-dimensional structure primarily used for manipulating a single column of data. 
 #As seen above, df is a DataFrame and Ser is a series object

#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
#you give an example of when you might use one of these functions?
#Some of functions are tail(),head(),describe(),drop()
#Drop is used to remove irrelevant data 

df = df.drop('Age',axis = 1)
print(df)

#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
#Series and DataFrame are mutable

#Q7. Create a DataFrame using multiple Series. Explain with an example.
name = pd.Series(['Alice','Bob','Claire'])
age = pd.Series([25,30,27])
gender = pd.Series(['Female','Male','Female'])

res = pd.DataFrame({'Name': name,'Age': age,'Gender': gender})
print(res)