Q1. List any five functions of the pandas library with execution.

In [2]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Sydney']}

In [3]:

df = pd.DataFrame(data)
print(df.head())
print(df.describe())
print(df.tail())

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35    Sydney
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35    Sydney

In [4]:
df = df.drop('Age',axis = 1)
print(df)

      Name      City
0    Alice  New York
1      Bob    London
2  Charlie    Sydney

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [5]:
def reindex_dataframe(df):
    df = df.reset_index(drop=True)
    df.index = df.index.map(lambda x: x * 2 + 1)
    return df

data = {'A': ['Alice', 'Bob', 'Charlie'],
        'B': [25, 30, 35],
        'C': ['New York', 'London', 'Sydney']}

df = pd.DataFrame(data)

print('Before: ',df)
df = reindex_dataframe(df)
print('After ',df)

Before:           A   B         C
0    Alice  25  New York
1      Bob  30    London
2  Charlie  35    Sydney
After           A   B         C
1    Alice  25  New York
3      Bob  30    London
5  Charlie  35    Sydney

In [ ]:
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [12]:
Values = [10, 20, 30, 40, 50]
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
df['Values'].iloc[:3].sum()

60

In [ ]:
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [20]:
text = ['abc','def','abcd','bcde']
df = {'Text': text}
df['Word_Count'] = [len(words) for words in df['Text']]
df

{'Text': ['abc', 'def', 'abcd', 'bcde'], 'Word_Count': [3, 3, 4, 4]}

In [ ]:
Q5. How are DataFrame.size() and DataFrame.shape() different?

In [ ]:
DataFrame.size() returns the total number of elements in the DataFrame where as 
DataFrame.shape() returns the dimensions of the DataFrame, providing the number of rows and columns present in the DataFrame.

In [ ]:
Q6. Which function of pandas do we use to read an excel file?
pd.read_excel()

In [ ]:
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [48]:
email = ['test@gmail.com','test@yahoo.com','test1@gmail.com']
df = {'Email': email }
df['Username'] =[x.split('@')[0] for x in df['Email']]
print(df)

{'Email': ['test@gmail.com', 'test@yahoo.com', 'test1@gmail.com'], 'Username': ['test', 'test', 'test1']}

In [ ]:
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Assignment

Data Science Masters

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [64]:
def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows
df = pd.DataFrame({'A': [3,8,6,2,9],
                  'B': [5,2,9,3,1],
                  'C':[1,7,4,5,2]
                  })
select_rows(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [ ]:
Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [73]:
def cal(df):
   print(f"Mean is {df['Values'].mean()}, Median is {df['Values'].median()}",
         f"and Standard Deviation is {df['Values'].std()}"
        )
     
    
values = pd.Series([1,2,3,4,5])
df =pd.DataFrame({'Values': values})
cal(df)

Mean is 3.0, Median is 3.0 and Standard Deviation is 1.5811388300841898

In [ ]:
Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [74]:
def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

df = pd.DataFrame({'Date': ['2023-06-28', '2023-06-29', '2023-06-30', '2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04'],
                   'Sales': [100, 150, 200, 250, 300, 350, 400]})

df = calculate_moving_average(df)
print(df)

         Date  Sales  MovingAverage
0  2023-06-28    100          100.0
1  2023-06-29    150          125.0
2  2023-06-30    200          150.0
3  2023-07-01    250          175.0
4  2023-07-02    300          200.0
5  2023-07-03    350          225.0
6  2023-07-04    400          250.0

In [ ]:
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [78]:
def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})

df['Date'] = pd.to_datetime(df['Date'])  
df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [ ]:
Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [81]:
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-01-25', '2023-02-01']})

#df['Date'] = pd.to_datetime(df['Date'])  
df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]

         Date
0  2023-01-01
1  2023-01-15
2  2023-01-25

In [ ]:
Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?